# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Eclipse CDT
/.cproject
/.project
/.settings/

# Momentics IDE
/.device
/config.pri
/arm/
/x86/
